<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>商品入力</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript">
    <!--
      $(document).ready(function() {
      });
    -->
  </script>
</head>
<body>
  <h3>商品入力 - 完了</h3>
  <form action="input.html" th:action="@{/product/input}" method="get">
    完了しました。<br/>
    <input type="submit" id="naviButtonBack" name="naviButton" value="戻る"/>
  </form>
</body>
</html>
