<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>商品入力</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript">
-->
    <!--
      $(document).ready(function() {
      });
    -->
<!--
  </script>
-->
</head>
<body>
  <h3>商品入力</h3>
  <form action="confirm.html" id="confirm" th:action="@{/product/confirm}" method="post">
    Code:
    <input type="text" id="productCode" name="productCode" size="20" th:field="*{productForm.productCode}"/>
    <span th:if="${#fields.hasErrors('*{productForm.productCode}')}" th:errors="*{productForm.productCode}" style="color: red"></span>
    <br/>

    商品名:
    <input type="text" id="productName" name="productName" size="20" th:field="*{productForm.productName}"/>
    <span th:if="${#fields.hasErrors('*{productForm.productName}')}" th:errors="*{productForm.productName}" style="color: red"></span>
    <br/>

    金額:
    <input type="text" id="price" name="price" size="20" th:field="*{productForm.price}"/>
    <span th:if="${#fields.hasErrors('*{productForm.price}')}" th:errors="*{productForm.price}" style="color: red"></span>
    <br/>

    <input type="submit" id="naviButtonConfirm" name="naviButton" value="確認"/>
  </form>
</body>
</html>
