<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>商品入力</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript">
-->
    <!--
      $(document).ready(function() {
      });
    -->
<!--
  </script>
-->
</head>
<body>
  <h3>商品入力</h3>
  <form  action="confirm.html"  method="post">
    Code: <input type="text"  name="productCode"  size="20"/>
    <br/>

    商品名: <input type="text"  name="productName"  size="20"/>
    <br/>

    金額: <input type="text"  name="price"  size="20"/>
    <br/>

    <input  type="submit"  name="naviButton"  value="確認"/>
  </form>
</body>
</html>
