<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>商品入力</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript">
    <!--
      $(document).ready(function() {
        $("#naviButtonBack").click(function () {
          $("#confirm").attr("action", "/product/input");
        });
      });
    -->
  </script>
</head>
<body>
  <h3>商品入力 - 確認</h3>
  <form action="finish.html" id="confirm" th:action="@{/product/regist}" th:object="${productForm}" method="post">
    <table border="1">
      <tr>
        <th style="background-color:#CCCCCC">Code</th>
        <td th:text="${productCode}">1</td>
      </tr>
      <tr>
        <th style="background-color:#CCCCCC">商品名</th>
        <td th:text="${productForm.productName}">ダミー商品</td>
      </tr>
      <tr>
        <th style="background-color:#CCCCCC">金額</th>
        <td th:text="${price}">50</td>
      </tr>
    </table>
    <input type="submit" id="naviButtonRegist" name="naviButton" value="登録"/>
    <input type="submit" id="naviButtonBack" name="naviButton" value="戻る"/>
</form>
</body>
</html>
