<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>商品入力</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript">
    <!--
      $(document).ready(function() {
      });
    -->
  </script>
</head>
<body>
  <h3>商品入力</h3>
  <form action="confirm.html" id="confirm" th:action="@{/product/confirm}" method="post">
    <table border="1">
      <tr>
        <th style="background-color:#CCCCCC">Code</th>
        <td><input type="text" id="productCode" name="productCode" size="20" th:field="*{productForm.productCode}"/></td>
        <td th:if="${#fields.hasErrors('*{productForm.productCode}')}" th:errors="*{productForm.productCode}" style="color: red"></td>
      </tr>
      <tr>
        <th style="background-color:#CCCCCC">商品名</th>
        <td><input type="text" id="productName" name="productName" size="20" th:field="*{productForm.productName}"/></td>
        <td th:if="${#fields.hasErrors('*{productForm.productName}')}" th:errors="*{productForm.productName}" style="color: red"></td>
      </tr>
      <tr>
        <th style="background-color:#CCCCCC">金額</th>
        <td><input type="text" id="price" name="price" size="20" th:field="*{productForm.price}"/></td>
        <td th:if="${#fields.hasErrors('*{productForm.price}')}" th:errors="*{productForm.price}" style="color: red"></td>
      </tr>
    </table>
    <input type="submit" id="naviButtonConfirm" name="naviButton" value="確認"/>
  </form>
</body>
</html>
